<div *ngIf="chatData">
    <div class="chatArea">

    </div>
    <div>
        <div class="writeArea">
            <input type="text" [(ngModel)]="message" placeholder="Write your message...">
            <button (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>
<div class="ContainerAll">


<app-sidebar></app-sidebar>


<div class="ContainerAllChats">
    <div class="Tittle">
        <div class="Logo">
<img src="assets/sidebar-images/SMS.svg" alt="">
        </div>
        <div class="Text">
            Chats
        </div>
    </div>

    <div class="ContainerChats">
        <div class="Chat">
            <div class="ImageChat">
                <img src="assets/post-images/profile_def.jpg" alt="">
            </div>
            <div class="NameChat">
                <p>Nombre</p>
            </div>
        
        </div>
        <div class="Chat">
            <div class="ImageChat">
                <img src="assets/post-images/profile_def.jpg" alt="">
            </div>
            <div class="NameChat">
                <p>Nombre</p>
            </div>
        
        </div>
        <div class="Chat">
            <div class="ImageChat">
                <img src="assets/post-images/profile_def.jpg" alt="">
            </div>
            <div class="NameChat">
                <p>Nombre</p>
            </div>
        
        </div>
        <div class="Chat">
            <div class="ImageChat">
                <img src="assets/post-images/profile_def.jpg" alt="">
            </div>
            <div class="NameChat">
                <p>Nombre</p>
            </div>
        
        </div>
        <div class="Chat">
            <div class="ImageChat">
                <img src="assets/post-images/profile_def.jpg" alt="">
            </div>
            <div class="NameChat">
                <p>Nombre</p>
            </div>
        
        </div>
        <div class="Chat">
            <div class="ImageChat">
                <img src="assets/post-images/profile_def.jpg" alt="">
            </div>
            <div class="NameChat">
                <p>Nombre</p>
            </div>
        
        </div>
        <div class="Chat">
            <div class="ImageChat">
                <img src="assets/post-images/profile_def.jpg" alt="">
            </div>
            <div class="NameChat">
                <p>Nombre</p>
            </div>
        
        </div>
        <div class="Chat">
            <div class="ImageChat">
                <img src="assets/post-images/profile_def.jpg" alt="">
            </div>
            <div class="NameChat">
                <p>Nombre</p>
            </div>
        
        </div>
        <div class="Chat">
            <div class="ImageChat">
                <img src="assets/post-images/profile_def.jpg" alt="">
            </div>
            <div class="NameChat">
                <p>Nombre</p>
            </div>
        
        </div>
    </div>
</div>

<div class="ContainerContentChat">
    <div class="HeaderChat">
        <div class="ImageChat">
            <img src="assets/post-images/profile_def.jpg" alt="">
        </div>
        <div class="NameChat">
            <p>Nombre</p>
        </div>
        <div class="OptionsChat">
            <div class="Call">
                <img src="" alt="">
            </div>
            <div class="VideoCall">
                <img src="" alt="">
            </div>
            <div class="Option">
                <img src="" alt="">
            </div>
        </div>
    </div>

    <div class="Content">
        
    </div>

    <div class="WriteContainer">
        <input type="text" placeholder="Send message" name="" id="">
        <div class="Send">
            <img src="" alt="">
        </div>
        <div class="Emogi">
            <img src="" alt="">
        </div>
        <div class="Clip">
            <img src="" alt="">
        </div>
    </div>
</div>
</div>