<p #HtmlNameSurname *ngFor="let userData of User;">Name: {{ userData.name }} {{ userData.surname }}</p>
<p #HtmlAge *ngFor="let userData of User;">Age: {{ userData.age }}</p>
<p #HtmlGender *ngFor="let userData of User;">Gender: {{ userData.gender }}</p>
<p #HtmlHomeland *ngFor="let userData of User;">Homeland: {{ userData.homeland }}</p>
<p #HtmlResidence *ngFor="let userData of User;">Residence: {{ userData.residence }}</p>
<p #HtmlDescription *ngFor="let userData of User;">Description: {{ userData.description }}</p>
<p #HtmlProfile_Pic *ngFor="let userData of User;">Pfp: {{ userData.profile_pic }}</p>

<div class="ContainerDatosPerfil">
    <form action="">


        <div class="BackgroundAddImage">
            <div class="AddImage">
                <div class="ImageSpace" [style.background-image]="'url(' + selectedImage + ')'"
                    [style.background-size]="'cover'" [style.background-position]="'center'"
                    (click)="triggerFileInput()"></div>
                <div class="AddImageInput">
                    <label for="pfp" class="InputContainer">
                        <input ngModel type="file" (change)="onFileSelected($event)" accept="image/*" id="pfp"
                            name="profile_pic" #fileInput>
                    </label>
                </div>
            </div>
        </div>
        <div class="AddDescription">
            <div class="TittleDescription">
                <p>Agrega una descripcion:</p>
            </div>

            <textarea ngModel *ngFor="let userData of User;" name="description" id="description"
                placeholder="">{{userData.description}}</textarea>
        </div>

        <div class="AddGender">
            <select *ngFor="let userData of User;" ngModel id="gender" name="gender" required>
                <option disabled selected value="">Gender: {{userData.gender}}</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="non-binary">Non-Binary</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="AddCountry">
            <select ngModel id="homeland" name="homeland">
                <option disabled selected value="">Selecciona tu pais</option>
                <option value="1">Uruguay</option>
                <option value="2">Mexico</option>
                <option value="3">Brazil</option>
                <option value="4">Japan</option>
            </select>
        </div>
        <div class="AddResidenceCountry">
            <select ngModel id="residenceCountry" name="residanceCountry">
                <option disabled selected value="">Selecciona tu pais de residencia</option>
                <option value="1">Uruguay</option>
                <option value="2">Uganda</option>
                <option value="3">Argentina</option>
            </select>
        </div>

        <div class="FinishProfileData">
            <button id="FinishRegister">Guardar datos</button>
        </div>

    </form>

</div>