<app-header id="header"></app-header>



    <app-sidebar></app-sidebar>

<div class="Profile">
<div class="ContainerData">

<div class="ContainerMyProfile">
    <div class="BackgroundProfile">
           <div class="ImageProfile">
        <img src={{pfpUrl}} alt="">
        <div class="EditProfile" *ngIf="ownProfile">
            <img src="assets/Profile-Image/Pencil Drawing.svg" alt="" (click)="ToEditProfile()">
        </div>
    </div> 
    </div>

    <div class="DataMyProfile">
        <div class="NameMyProfile">
            <p #HtmlNameSurname *ngIf="userData"> {{userData.name}} {{userData.surname}} </p>
        </div>
        <div class="Age">
            <p #HtmlAge *ngIf="userData">, {{userData.age}} </p>
        </div>
        <div class="CountryMyProfile">
            <p *ngIf="userData"> {{userCountries.homeland}}</p>
            <p *ngIf="userData"> {{userCountries.residence}}</p>
        </div>
        <div class="FollowOption" *ngIf="!ownProfile">
            <button id="FollowButton" (click)="CheckFollowOrUnfollow(true)">{{ isFollowing }}</button>
        </div>
    </div>
    <div class="MyInterestProfile">
        <div class="TittleInterest">
            <p>Intereses:</p>
        </div>

        <div class="Interest">
            <p *ngFor="let interest of userInterests">{{ interest }}</p>
        </div>
    </div>

    <div class="PostMyProfile">
        <div class="PostTypes">
            <div class="ImagePost">
                <p>Publicaciones</p>
            </div>
            <div class="TextPost">
                <p>Textos</p>
            </div>
        </div>
    </div>
</div>

<div class="ContainerImagePost"  *ngFor="let post of posts">
    <app-singlepost *ngIf="post" [post]="post" [ProfilePosts]=true></app-singlepost>
</div>

<div class="ContainerTextPost">

</div>
</div>
</div>