<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="HeaderGroups">

    <p class="TittleGroups">Groups</p>
    
<div class="ButtonCreateGroup">
    <img src="assets/sidebar-images/create.svg" alt="">
    <p>Create</p>
</div>

</div>

<div class="SubHeader">
    <div class="Suggestions">
        <p>Suggestions</p>

    </div>
    <div class="MyGroups">
        <p>My Groups</p>
    </div>
</div>

<div class="SliderGroups">
    <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>
</div>
