

<app-sidebar></app-sidebar>


<app-sidebar id="Sidebar"></app-sidebar>

<div class="ContainerAll">
    
    <div class="ContainerAllChats">
        <div class="Tittle">
            <div class="Logo">
                <img src="assets/sidebar-images/SMS.svg" alt="">
            </div>
            <div class="Text">
                Private Chats
            </div>
    </div>

    <div class="ContainerChats">

    </div>


</div>

<div class="ContainerContentChat">
    <div class="HeaderChat">
        <div class="Back">
            <img src="assets/Go Back.png" alt="">
        </div>
        <div  id="ImageGroup">
      
        </div>
        <div class="NameChat">
            <p>{{eventData[0].name}}</p>
        </div>
        <div class="OptionsChat">
            <div class="Call">
                <img src="assets/Chat/llamada.svg" alt="">
            </div>
            <div class="VideoCall">
                <img src="assets/Chat/videollamada.svg" alt="">
            </div>
            <div class="Option">
                <img src="assets/Chat/menu.svg" alt="">
            </div>
        </div>
    </div>
    

<div class="ContainerEvents">
    <div id="eventData" *ngIf="eventData">

        <div class="Description">
               <p>Event Description:</p>
               <div class="ContentDescription">
                  <p>{{eventData[0].description}}</p>
               </div>
             
        </div>
        <div class="Text">
               <p>Event Text: {{eventData[0].text}}</p>
        </div>
 <div class="Type">
     <p>Event Type: {{eventType}}</p>
 </div>
 
    <img src="{{eventCover}}" alt="">
   
</div>
<div id="updates" *ngFor="let post of eventData.updates">
    <app-singlepost *ngIf="post" [post]="post" [userId]="userId"></app-singlepost>
</div>
<div id="eventParticipantsAndInterests">
    <div>
        <p>Event Interests:</p>
        <div id="eventInterests" *ngFor="let interest of eventData.interests">
            <app-event-interests *ngIf="interest" [interest]="interest"></app-event-interests>
        </div>
    </div>
    <div>
        <p>Event Participants:</p>
        <div id="eventParticipants" *ngFor="let participant of eventData.participants">
            <app-participants *ngIf="participant" [participant]="participant"></app-participants>
        </div>
    </div>
</div>
<div id="CreatePostForEvent">
    <button *ngIf="isAdmin" (click)="ShowPostCreationComponent()">Upload Update</button>
    <div *ngIf="createPostComponentVisibility">
        <app-create-post [EventPost]="eventData[0].id"  (ComponentRemoved)="postPublished(false)" (postHasBeenPublished)="postPublished(true)"></app-create-post>
    </div>
</div>
</div>

</div>