
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-header></app-header>
    <div class="ContainerHome">
        <div id="SidebarOff">
              <app-sidebar></app-sidebar>
        </div>
         
           <div class="PostHome">
                <app-posts class="Post"></app-posts>
           </div>

    </div>
    <app-menu-mobile id="MenuMobile"></app-menu-mobile>

 
</body>
</html>