.Modal{
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: rgb(20, 19, 19);
    cursor: pointer;
}
.ReportComment,.DeleteComment{
    margin: 5px;
    margin-top: 10px;
    background-color: aqua;
}
.ReportComment p,.DeleteComment p{
    margin: 5px;
margin-top: 10px;


}