$ColorFuente: #537d57;
$ColorSecundario: #282928;

.ContainerAllChats {
    background-color: $ColorSecundario;
    width: 350px;
    height: 92vh;
    margin-left: 78px;
    border-left: 2px solid $ColorFuente;
    border-right: 2px solid $ColorFuente;
    border-top: solid 1px $ColorFuente;
}
.Tittle {
    border-bottom: 1px solid $ColorFuente;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
}
.ContainerChats {
    margin: 10px;
    max-height: 80%;
    overflow-y: auto;
}
.ContainerChats::-webkit-scrollbar {
    width: 8px; 
}

.ContainerChats::-webkit-scrollbar-track {
    background-color: rgb(35, 35, 35);
}

.ContainerChats::-webkit-scrollbar-thumb {
    background: #121111;
}
.Logo {
    width: 40px;
    height: 40px;
    background-color: rgb(34, 36, 36);
    border-radius: 50%;
    margin: 8px;
    margin-left: 15px;
    cursor: pointer;
}
.Logo img {
    width: 100%;
    height: 80%;
    margin-top: 5px;
}
.Text {
    font-weight: bold;
    color: $ColorFuente;
}
.ContainerGroups{
    display: flex;
}
.groupToDisplay{
    width: 100%;
   
}

