<div class="TextPostDesktop" *ngIf="commentVisibility">
    <div class="PhotoComment">
        <img (click)="clickedProfile()" src={{userPfp}} alt="">
    </div>
    <p class="author" (click)="clickedProfile()">{{comment.user.name}} {{comment.user.surname}}:</p>
    <p class="CommentText">{{comment.text}}</p> <button class="Button"><img src="assets/post-images/navegacion.png" alt="" (click)="displayOptions($event)"></button>

</div>
<div *ngIf="displayedOptions">
    <app-modal-option-comment [optionVisibility]="displayedOptions" [commentId]="commentId" [ownComment]="ownComment" (CommentRemoved)="onRemoving()"></app-modal-option-comment>
</div>