.ContainerBackofficePost{
    
        background-color: rgb(32, 34, 32);
        width: 80%;
       display: flex;
        margin: auto;
        margin-top: 50px;
    }
    .ContainerEditPost{
        margin-top: 140px;
        width: 300px;height: 100px;
        background-color: aqua;
    }
