<div id="button-container">

    <button class="button" id="Event">
        <img src="assets/Crear-imagenes/evento.svg" alt="">
        <span class="button-text">Evento</span>
      </button>
      
    <button class="button" id="Groups">
        <img src="assets/Crear-imagenes/grupo.svg" alt="">
        <span class="button-text">Groups</span>
    </button>
    <button class="button" id="Post" routerLink="/createpost">
        <img src="assets/Crear-imagenes/post.svg" alt="">
        <span class="button-text">Posts</span>
    </button>
   
    <button class="button" id="create">
 <img src="assets/sidebar-images/create.svg" alt="">
    </button>
    </div>