<div class="Menu">
    
    <div class="Home">
        <img src="assets/sidebar-images/Home Page.svg" alt="">
        <p>Home</p>
    </div>
    <div class="Search">
        <img src="assets/sidebar-images/Search.svg" alt="">
        <p>Search</p>
    </div>
    <div class="Create">
        <img src="assets/sidebar-images/create.svg" alt="">
        <p>Create</p>
    </div>
    <div class="Chats">
        <img src="assets/sidebar-images/SMS.svg" alt="">
        <p>Chats</p>
    </div>
    <div class="Perfil">
        <img src="assets/pelado.png" alt="">
        <p>Perfil</p>
    </div>
</div>
