$ColorFuente:#4A5C45;
$ColorSecundario:#282928;
.ContainerHome {

    
}

.PostHome {
 
    margin-left: 150px;
    width: calc(100% - 278px);
    transition: all .5s ease;
 
}
.PostHome{
    border-left: 1px solid rgba(52, 137, 52, 0.239);
    border-right: 1px solid rgba(52, 137, 52, 0.239);
}
#MenuMobile{
    display: none;
}
@media(max-width:650px){
    .PostHome{
        border: none;
    }

}
@media(max-width:499px){

 #MenuMobile{
    display: block;
 }
 .Post{
    width: 100%;
 
 }
 .ContainerPostMobile {
    width: 100%;
    margin-left: -30px;
}
.ContainerPost {
    width: 100%;
}
.ContainerPostDesktop {
    display: none;
}
.ContainerHome {
    display: block;
}
.PostHome {
    margin-left: 110px;
    width: 90%;
}


}
@media(min-width:501px){
    .SubHeaderHome{
        margin-left: 100px;
    }
}

#Sidebar {
    z-index: 1;
  }
  
  .Crear {
    z-index: 2;
  }
  .SliderUsuarios{
    margin-top: 100px;
  }

  .SubHeaderHome{
display: flex;
justify-content: start;
align-items: center;
  }
  .Discovery,.Followed{

    margin: 8px;
    margin-left: 15px;
    color: $ColorFuente;
    font-weight: bold;
    
  }
  .Discovery p,.Followed p{
padding: 2px;
    
  }
