<app-sidebar></app-sidebar>


<form>
    <div class="ContainerModalCreatePost">
        <div class="Header">
            <div class="Create">
                <h2>Crear</h2>
            </div>
            <div class="Close">
                <img src="assets/post-images/close.svg" alt="">
            </div>
        </div>
        <div class="Space">
            <div class="HeaderSpace">
                <div class="User">
                    <div class="Photo">
                        <img src="assets/post-images/profile_def.jpg" alt="">
                    </div>
                    <div class="Text">
                        <p>¿Què estas pensando?</p>
                    </div>

                </div>
            </div>
            <div class="OptionsCreate">
                <div class="CreateBlock">
                    <div class="Image">
                         <img src="assets/Crear-imagenes/evento.svg" alt=""> 

                    </div>
                    <p>Crear evento</p>
                </div>
                <div class="CreateBlock">
                    <div class="Image">
                        <img src="assets/Crear-imagenes/grupo.svg" alt="">
                    </div>

                    <p>Crear Grupo</p>
                </div>
                <div class="CreateBlock">
                    <div class="Image">
                        <img src="assets/Crear-imagenes/post.svg" alt="">
                    </div>

                    <p>Crear Post</p>
                </div>

            </div>
        </div>


<div class="Footer"></div>
.
    </div>

</form>