<div class="ContainerPost" *ngIf="postVisibility">
	<div class="ContainerPostMobile">
		<div class="ContainerAllComments" [ngClass]="{'slide-up': showComments}">
			<div class="HeaderComments">
				<p>Comments</p>
				<div class="Close" (click)="ocultarComentarios()">
					<button> <img src="assets/post-images/close.svg" alt=""> </button>
				</div>
			</div>
			<div class="ScrollableContent">
				<div class="AllCommentsPost" *ngFor="let comment of post.commentsPublished">
					<app-comment [comment]="comment" [userId]="userId"></app-comment>
				</div>
			</div>
			<ng-template #noCommentsTemplate>
				<p>No hay comentarios para mostrar</p>
			  </ng-template>
		</div>
		<div class="HeaderPost">
		
			<div class="UserPost">
				<div class="UserLogo">
					<img (click)="clickedProfile()" src={{userPfp}} alt="">
				</div>
				<div class="NameAndDate">
					<div class="UsernamePost">
						<p (click)="clickedProfile()">{{ post.user.name }} {{ post.user.surname }}</p>
					</div>
					<div class="PostUploadDate">
						<p>{{post.post.date.slice(2,-3)}}</p>
					</div>

				</div>

				<div class="OptionsPost">
					<img src="assets/menu-logo.png" alt="" (click)="displayOptions($event)">
				</div>
			</div>
		</div>
		<div class="LocationPostDesktop">
			<p></p>
		</div>
		<div class="Interest" *ngFor="let interest of post.interests">
			<p>{{interest}}</p>
		</div>
		<div class="PostDescription">
			<p>{{ post.post.text }}</p>
		</div>
		<div class="ImagePostDesktop">
			<img src={{defaultUrl}} alt="">
		</div>

		<div class="FooterPost">
			<div class="DataPost">
				<div class="UpvotesPost">
					<div class="IconUpvotesPost" (click)="ClickVote(1)">
						<img src="assets/post-images/like.svg" alt="">
					</div>
					<div class="AmountUpvotesPost">
						<p id=VotesNumber_{{post.post.id_post}}>{{ post.post.votes }}</p>
					</div>
					<div class="IconUpvotesPost" (click)="ClickVote(0)">
						<img src="assets/post-images/disgusto.svg" alt="">
					</div>
				</div>
				<div class="CommentsPost">
					<div class="IconCommentsPost" (click)="toggleComments()">
						<img src="assets/chat.png" alt="">
					</div>
					<div class="AmountCommentPost">
						<p>{{post.post.comments}}</p>
					</div>
				</div>
			</div>
			<div class="SharePost">
				<div class="IconSharePost">
					<img src="assets/share.png" alt="">
				</div>
			</div>
		</div>
		<div class="Comments">
      
			<div class="AddCommentDesktop">
        
			  <form (submit)="sendComment()">
				  <textarea [(ngModel)]="AddComment" name="AddComment" placeholder="Agregar un comentario..."></textarea>
				  <button type="submit"><img src="assets/post-images/enviar-mensaje.svg" alt=""></button>
			  </form>
		  </div>

	</div>

</div>	<div class="ContainerPostDesktop" *ngIf="!ProfilePosts">
			<div class="PostDesktop">
				<div class="HeaderPostDesktop">
					<div class="OptionPostDesktop">
					</div>
				</div>
			<div class="PostContentImageAndInteractions">
				<div class="InteractionsPostDesktop">
					<div class="IconUpvote">
					</div>
					<div class="IconComment">
					</div>
					<div class="IconShare">
					</div>
				</div>
			</div>

		</div>
		<div class="ProfilePostDesktop">
			<div class="PerfilImage">
				<img (click)="clickedProfile()" src={{userPfp}} alt="">
			</div>
			<div (click)="clickedProfile()" class="UsernameProfile">
				<p>{{ post.user.name }} {{ post.user.surname }}</p>
			</div>
			<div class="DataProfile">
				<div class="Follow" *ngIf="Followable">
					<img src="/assets/follow.png" alt="" (click)="CheckFollowOrUnfollow(true)">
				</div>
				<div class="SendMessage" *ngIf="Followable">
					<img src="/assets/charlando.png" alt="">
				</div>
				<div class="Country">
					<img src="/assets/estados-unidos.png" alt="">
				</div>
				<div class="OptionsProfilePost">
					<img src="/assets/menu-logo.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="displayedOptions">
		<app-modal-option-post [optionVisibility]="displayedOptions" [postId]="postId" [ownPost]="ownPost" (PostRemoved)="onRemoving()"></app-modal-option-post>
	</div>