$ColorFuente: #537D57;

.ContainerPostDesktop {
  display: none;
  background-color: #282928;
  border-radius: 15px;
  height: 250px;
}

.ContainerPost {
  display: flex;
  margin: auto;
}

.ContainerPostMobile {
  background-color: #282928;
  margin: auto;
  margin-top: 100px;
  width: 90%;
  border-radius: 15px;
  position: relative;
}
.UserPost{
    display: flex;

}
.UserLogo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 15px;
    background-color: #3e5e3e;
}
.UserLogo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.NameAndDate{
  margin-top: 5px;
}
.UsernamePost p{
color: $ColorFuente;
font-weight: bold;
font-size: 15px;

}
.PostUploadDate p{
    color: #596259;
    font-weight: bold;
    font-size: 12px;
    margin-top: -10px;
}
.OptionsPost{
  margin: 15px;
    margin-left: auto;
    cursor: pointer;

}
.OptionsPost img{
  margin-top: 10px;
}
.Interest{
    display: flex;
    align-items: center;
    height: 30px;
    background-color:#161716;
    margin: 5px;
    border-radius: 12px;
    text-align: center;
}
.ContainerInterestPosts{
display: flex;
margin-left: 10px;
}
.Interest p{
padding: 5px;
    color: $ColorFuente;
    font-weight: bold;
    font-size: 12px;
}
.PostDescription p{
    color: $ColorFuente;
    font-weight: bold;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 10px;
}
.PostImage{
   margin: auto;
    width: 90%;
    height:240px;
    background-color: #537D57;
    border-radius: 15px;
}
.PostImage img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.FooterPost{
    display: flex;
    margin-top: 30px;
}
.DataPost{
    width: 50%;
    display: flex;
    justify-content: start;
    margin-left: 20px;
}
.UpvotesPost{
display: flex;
    height: 50px;
    margin-right: 20px;

}
.IconUpvotesPost{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #596259;
    border-radius: 50%;
text-align: center;
align-items: center;
justify-content: center;
cursor: pointer;
}
.IconUpvotesPost img{

    width: 100%;
    height: 100%;
}
.CommentsPost{
    display: flex;
}
.IconCommentsPost{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #596259;
    border-radius: 50%;
text-align: center;
align-items: center;
justify-content: center;
cursor: pointer;
}
.IconCommentsPost img{

    width: 60%;
    height: 60%;
}
.SharePost{
    display: flex;
    margin-left: auto;
    margin-right: 20px;

}
.IconSharePost{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #596259;
    border-radius: 50%;
text-align: center;
align-items: center;
justify-content: center;
cursor: pointer;
}
.IconSharePost img{

    width: 60%;
    height: 60%;
}
.AmountUpvotesPost p ,.AmountCommentPost p{
margin: 7px;
font-size: 15px;
color: $ColorFuente;
font-weight: bold;
}
.ContainerPostDesktop{
    margin: 10px; 
    margin-top: 100px;
   transition: all 300ms ease-in;
   width: 300px;

}
.ProfilePostDesktop{
    transition: all 300ms ease-in-out;
    margin-top: 30px;
}
.DataProfile{
    display: flex;
  justify-content: center;
    margin-top: 10px;
}
.Follow,.SendMessage,.Country,.OptionsProfilePost{
    display: flex;
    width: 33px;
    height: 33px;
    background-color: #596259;
    border-radius: 50%;
text-align: center;
align-items: center;
justify-content: center;
cursor: pointer;
margin: 5px;

}
.Follow img,.SendMessage img,.Country img, .OptionsProfilePost img{
width: 60%;
height: 60%;
}
.PerfilImage{
    height: 100px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
margin: auto;
    margin-top: 10px;
    text-align: center;
}
.PerfilImage img{
width: 100%;
height: 100%;
border-radius: 50%;

}
.UsernameProfile{
    text-align: center;
}
.UsernameProfile p{
    font-weight: bold;
    color: $ColorFuente;
    margin: 0px;
    margin-top: 10px;
}
.LocationPostDesktop{
    color: rgb(68, 70, 69);
    font-size: 13px;
    font-weight: bold;
    margin-left: 12px;
}
.Comments{
    position: relative;
    display: flex;
    width: 100%;
    z-index: 0;

}
.AddCommentDesktop{
    display: flex;
    width: 100%;
margin: 10px;
}
.AddCommentDesktop form{
    width: 100%;
}

.AddCommentDesktop textarea{
    outline: none;
    width: 80%;
    resize: none;
margin-right: 5px;
height: 20px;
background-color: rgba(0, 0, 0, 0);
border: none;
border-bottom: 1px solid rgb(79, 78, 78);
color: $ColorFuente;
}
.AddCommentDesktop button{
margin-left: 10px;
height: 25px;
width: 25px;

background-color: #596259;
border: none;
text-align: center;
border-radius: 60px;
cursor: pointer;

}
.AddCommentDesktop img{
margin-left: 1px;
    width: 100%;

    height: 100%;
    text-align: center;

}
.ContainerAllComments {
  position: absolute;
  top: 0;
  width: 100%;

    max-height: 0;
height: 260px;
max-width: 100%;
    opacity: 0;

    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;

  }


  .slide-up {


    max-height: 300px; 
    opacity: 1;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out; 
        height: 200;
        border-bottom: 1px solid rgba(4, 171, 74, 0.234);

  }

.ScrollableContent {
    height: calc(100% - 80px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    background-color: #333732;

}

.AllCommentsPost {
    color: $ColorFuente;
    font-weight: bold;
    font-size: 14px;
}

.HeaderComments {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: sticky;
    top: 0;
    background-color: #161716;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px;
    z-index: 2;
}
.HeaderComments{
    color: $ColorFuente;
    font-weight: bold;
}
.Close button{
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: $ColorFuente;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
.Close img{
    width: 100%;
    height: 100%;
}

.ScrollableContent::-webkit-scrollbar {
    width: 8px;
}


.ScrollableContent::-webkit-scrollbar-thumb {

    background-color: #3f6046; 
    border-radius: 4px; 
     height: 6px;
}


.ScrollableContent::-webkit-scrollbar-track {
    background-color: #1b1a1a; 
}


@media(min-width:500px){
    .ContainerPostMobile{
        min-width: 330px;
      margin-left: -30px;
        }
    .ContainerPost{
border: none;
    }
}

@media (min-width:850px) {
.ContainerPostMobile{
min-width: 360px;
   margin-left: 20px;
}
.ContainerPostDesktop{
    display: block;
}

}
@media (min-width:650px) {
    .ContainerPostMobile{
    min-width: 300px;
       margin-left: 20px;
    }
.ContainerPost{
    min-width: 360px;
}

    }
    @media(max-width:499px){
        .ContainerPostMobile{
         width: 100%;
               margin-left: -30px;
            }
    .ContainerPost{
    width: 100%;
    }


       }


@media (min-width:870px) {
    .DataProfile{
        display: flex;
        margin:10px;
        margin-top: 10px;
    }
    .Follow,.SendMessage,.Country,.OptionsProfilePost{
        display: flex;
        width: 40px;
        height: 40px;

    }
    .PerfilImage img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        }

    }
    @media (min-width:900px) {
        .ContainerPost{
            max-width: 840px;
        }
        .DataProfile{
            display: flex;
            margin:40px;
            margin-top: 10px;
        }
        .Follow,.SendMessage,.Country,.OptionsProfilePost{
            display: flex;
            width: 40px;
            height: 40px;

        }
        .PerfilImage img{
            width: 100%;
            height: 100%;
            border-radius: 50%;

            }
            .PerfilImage{
                margin-top: 20px;
                height: 140px;
                width: 140px;
            }
            .ContainerPostDesktop{
                height: 300px;
            }
            .DataProfile{
                margin-top: 20px;
            }
            .UsernameProfile{
                margin-top: 20px;
            }
        }