<app-sidebar-backoffice></app-sidebar-backoffice>



<div class="ContainerBackofficePost">

    <app-posts></app-posts>
    <div class="ContainerEditPost">
        <div class="Votes">
            <p>Votes</p>
            <input type="number" placeholder="editar votes">
            <button>Guardar</button>
        </div>
        <div class="Description">
            <input type="text" placeholder="editar descripcion" id="">
            <button>guardar</button>
        </div>

    </div>
    

</div>
