<form>
    <div class="ContainerForgotPassword">
        <div class="ContainerImagesExamples">
            <div class="PhoneImage">
                <img src="assets/Diseño_sin_título__1_-removebg-preview.png" alt="">
            </div>
            <div class="PhoneAndDesktopImage">
                <img src="assets/imagenes.png" alt="">
            </div>
        </div>

        <div class="DataForgotPassword">

            <div class="Return">
                <a routerLink="/login"><img src="assets/Go Back.png" alt=""></a>
            </div>
            <div class="TextForgotPassword">
                <h2>Olvide mi contraseña</h2>
                <p>ingrese su dirección de correo electrónico y recibirá </p>
                <p>un enlace para crear una nueva contraseña</p>
            </div>
            <div class="InputForgotPassword">
                <div class="Username">
                    <p>Correo electronico</p>
                    <input ngModel name='email' type="text" placeholder="">
                </div>
            </div>
            <div class="ContinueBottom">
                <button>Continuar</button>
            </div>
        </div>

    </div>


</form>
<app-footer></app-footer>