.ContainerAlert {
    width: 320px;
    height: auto;
    margin: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .CompleteAlert {
    border-radius: 0.375rem;
    padding: 1rem;
    background-color: rgb(217, 253, 204);
  }
  
  .svg {
    color: #17c514;
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .CompleteTittle {
    color: #4b991b;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
  }
  
  .CompleteContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
  }
  
  .Complete {
    margin-top: 0.5rem;
    color: #24b91c;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .List {
    padding-left: 1.25rem;
    margin-top: 0.25rem;
    list-style-type: disc;
  }