@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

.sidebar {
  min-height: 100vh;
  width: 78px;
  padding: 6px 14px;
  z-index: 99;
  background-color: #282928;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar.open {
  width: 250px;
}

.sidebar .LogoDetails {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.menu {
  opacity: 1;
  transition: all 0.5s ease;
}

#btn {
  opacity: 0;
}

.sidebar .LogoDetails .LogoName {
  color: #537D57;
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .LogoDetails .LogoName {
  opacity: 1;
}

.sidebar.open .LogoDetails .menu {
  display: none;
}

.LogoDetails .menu {
  width: 80%;
  display: block;
}

.logoCultus {
  display: none;
}

.sidebar.open #btn {
  opacity: 1;
}

#btn {
  width: 30px;
  height: 30px;
}

.logoCultus {
  width: 50px;
  height: 50px !important;
}

a {
  margin-top: 20px;
}

.sidebar.open .logoCultus {
  display: block;
}

.sidebar .LogoDetails #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .LogoDetails #btn {
  text-align: right;
}

.sidebar img {
  color: #537D57;
  height: 30px;
  line-height: 60px;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background-color: #1F201F;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  color: #537D57;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: all 0.5s ease;
  z-index: 12;
}

.sidebar li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: #1F201F;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar li a:hover::after {
  transform: scaleX(1);
  color: #1F201F;
}

.sidebar li a .LinkName {
  color: #537D57;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar li a:hover .LinkName,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #537D57;
}

.sidebar.open li a .LinkName {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li img {
  height: 15px;
  line-height: 55px;
  font-size: 18px;
  border-radius: 5px;
}

.sidebar li.profile {
  position: absolute;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  overflow: hidden;
  transition: all 0.5s ease;
}

@media (max-height: 640px) {
  .sidebar li.profile {
    position: relative;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    margin-left: -15px;
    margin-top: 20px;
    transition: all 0.5s ease;
  }
}
.sidebar.open li.profile {
  width: 250px;
}

.sidebar .profile .ProfileDetails {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: -15px;
}

.sidebar li img {
  height: 40px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 6px;
}

.sidebar li.profile .name,
.sidebar li.profile .designation {
  font-size: 15px;
  font-weight: 400;
  color: #537D57;
  white-space: nowrap;
}

.sidebar li.profile .designation {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #1F201F;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.ProfileUser img {
  width: 50px !important;
  height: 50px !important;
}

.ProfileUser {
  margin-top: -10px !important;
}

.ProfileContent {
  margin-left: 10px;
}/*# sourceMappingURL=sidebar-backoffice.component.css.map */