
<div class="sidebar">
    <div class="logo_details">

        <img src="assets/sidebar-images/Menu.svg" class="menu" alt="">


        <img src="assets/sidebar-images/cultus.svg" class="logoCultus" alt="">
        <div class="logo_name">Cultus</div>
        <img src="assets/sidebar-images/back.svg" id="btn" class="bx bx-menu" alt="">

    </div>
    <ul class="nav-list">

        <li>
            <a href="/backoffice-users">
                <img src="assets/imagenes-backoffice/usuario.svg" class="ImageSidebar custom-size">
                <span class="link_name">Users</span>
            </a>
            <span class="tooltip">Users</span>
        </li>
        <li>
            <a href="/backoffice-post">
                <img src="assets/imagenes-backoffice/post.svg" alt="">
                <span class="link_name">Posts</span>
            </a>
            <span class="tooltip">Posts</span>
        </li>
        <li>
            <a href="#">
                <img src="assets/sidebar-images/SMS.svg" alt="">
                <span class="link_name">Comments</span>
            </a>
            <span class="tooltip">Comments</span>
        </li>
    
     
       



            
        
        <div class="ProfileUser">
            <li class="profile">
                <div class="profile_details">
                    <img src="assets/pelado.png" class="fotoperfil" alt="profile image">
                    <div class="profile_content">
                        <div class="name">Pelado lindo</div>
                        <div class="designation">Admin</div>
                    </div>
                </div>

            </li>
        </div>

    </ul>


</div>
