<!-- <form #ProfileDataForm="ngForm" action="" (ngSubmit)="saveProfileData(ProfileDataForm.value)"> -->
    <!-- <div class="BackgroundAddImage">
        <div class="AddImage">

            <div class="ImageSpace" [style.background-image]="'url(' + selectedImage + ')'"
                [style.background-size]="'cover'" [style.background-position]="'center'"
                [class.hideImage]="!selectedImage" [class.showEdit]="selectedImage" (click)="triggerFileInput()">
                <img id="UserPfp" *ngIf="!selectedImage"
                    src="https://i.ibb.co/Fh9yqwz/add-profile-picture-icon-upload-photo-of-social-media-user-vector-removebg-preview.png"
                    alt="">
                <p *ngIf="!selectedImage" class="hideImage">Agregar imagen</p>

                <span class="editText">Editar imagen</span>
            </div>

            <div class="AddImageInput">
                <label for="pfp" class="InputContainer">
                    <input ngModel type="file" (change)="onFileSelected($event)" accept="image/*" id="pfp"
                        name="profile_pic" #fileInput>
                </label>
            </div>
        </div>
    </div> -->

    <!-- <div class="AddDescription">
        <div class="TittleDescription">
            <p>Agrega una descripcion:</p>
        </div>

        <textarea ngModel="{{description}}" name="description" id="descriptionTextArea" placeholder=""></textarea>
    </div> -->

    <!-- <div class="AddGender">
        <select ngModel="{{gender}}" id="genderSelection" name="gender">
            <option disabled selected value=""></option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="nonbinary">Non Binary</option>
            <option value="other">Other</option>
        </select>
    </div> -->

    <!-- <div class="AddCountry">
        <select ngModel="{{homeland}}" id="UserHomeland" name="homeland">
            <option disabled selected ></option>
        </select>
    </div> -->
    <!-- <div class="AddResidenceCountry">
        <select ngModel="{{residence}}" id="UserResidence" name="residence">
            <option disabled selected ></option>
        </select>
    </div> -->
<!-- 
    <div class="FinishProfileData">
        <button id="FinishEditing">Guardar</button>
    </div> -->

    <app-sidebar></app-sidebar>

<form #ProfileDataForm="ngForm" action="" (ngSubmit)="saveProfileData(ProfileDataForm.value)">

<div class="ContainerEditProfile">
    <div class="ContainerMyProfile">
        <div class="BackgroundProfile">
            <div class="ImageProfile">
                <div class="AddImage">

                    <div class="ImageSpace" [style.background-image]="'url(' + selectedImage + ')'"
                        [style.background-size]="'cover'" [style.background-position]="'center'"
                        [class.hideImage]="!selectedImage" [class.showEdit]="selectedImage" (click)="triggerFileInput()">
                        <img *ngIf="!selectedImage"
                            src="https://i.ibb.co/Fh9yqwz/add-profile-picture-icon-upload-photo-of-social-media-user-vector-removebg-preview.png"
                            alt="">
                        <p *ngIf="!selectedImage" class="hideImage"></p>
    
                        <span class="editText">Editar imagen</span>
    
                    </div>
    
                    <div class="AddImageInput">
                        <label for="pfp" class="InputContainer">
                            <input ngModel type="file" (change)="onFileSelected($event)" accept="image/*" id="pfp"
                                name="profile_pic" #fileInput>
                        </label>
                    </div>
                </div>
                <!-- <img src={{pfpUrl}} alt=""> -->
          
            </div>
        </div>
        <div class="EditableContent">

            <div class="GroupEditable1">
                <div class="Content">
                    <p>Agrega una descripcion:</p>
                    <textarea ngModel="{{description}}" name="description" id="descriptionTextArea"
                        placeholder=""></textarea>
                </div>
                <div class="Content">
                    <p>Agrega una descripcion:</p>
                    <div class="AddGender">
                        <select ngModel="{{gender}}" id="genderSelection" name="gender">
                            <option disabled selected value=""></option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="nonbinary">Non Binary</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>


            </div>
            <div class="GroupEditable2">
                <div class="Content">
                    <p>Agrega una descripcion:</p>
                    <div class="AddCountry">
                        <select ngModel="{{homeland}}" id="UserHomeland" name="homeland">
                            <option disabled selected></option>
                        </select>
                    </div>
                </div>
                <div class="Content">
                    <p>Agrega una descripcion:</p>
                    <div class="AddResidenceCountry">
                        <select ngModel="{{residence}}" id="UserResidence" name="residence">
                            <option disabled selected></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="FinishProfileData">
            <button id="FinishEditing">Guardar</button>
        </div>
    </div>
</div>


</form>

