<div class="TextPostDesktop" *ngIf="commentVisibility">
    <div class="PhotoComment">
        <img src="assets/post-images/profile_def.jpg" alt="">
    </div>
    <p class="author">{{comment.user.name}} {{comment.user.surname}} :</p><p class="CommentText"> {{comment.text}}</p> <button class="Button"><img src="assets/post-images/navegacion.png" alt="" (click)="displayOptions($event)"></button>

</div>
<div *ngIf="displayedOptions">
    <app-modal-option-comment [optionVisibility]="displayedOptions" [commentId]="commentId" [ownComment]="ownComment" (CommentRemoved)="onRemoving()"></app-modal-option-comment>
</div>