<div class="sidebar">
    <div class="LogoDetails" id="Off">
        <img src="assets/sidebar-images/Menu.svg" class="menu" alt="">
        <img src="assets/sidebar-images/cultus.svg" class="logoCultus" alt="">
        <div class="LogoName">Cultus</div>
        <img src="assets/sidebar-images/back.svg" id="btn" class="bx bx-menu" alt="">

    </div>
    <ul class="nav-list">
        <li>
            <a routerLink="/home">
                <img src="assets/sidebar-images/home.svg" class="ImageSidebar custom-size">
            
                <span class="LinkName">Home</span>
            </a>   
            <span class="tooltip">Home</span>
        </li> 
        <li>
            <a href="/Search">
                <img src="assets/sidebar-images/Search.svg" alt="">
                <span class="LinkName">Search</span>
            </a>
            <span class="tooltip">Search</span>
        </li>
        <li>
            <div class="Crear-menu">
                <a id="Crear">
                <app-crear-menu ></app-crear-menu>
            </a>
            </div>
           
            <a id="Off" routerLink="/createpost">
                <img src="assets/sidebar-images/create.svg" alt="">
                <span class="LinkName">Create</span>
            </a>
            <span class="tooltip">Create</span>
        </li>
        <li  id="ImgMessage">
            <a href="#" >
                <img src="assets/sidebar-images/SMS.svg" alt="">
                <span class="LinkName">Message</span>
            </a>
            <span class="tooltip">Message</span>
        </li>
        <li id="Off">
            <a routerLink="/Groups">
                <img src="assets/sidebar-images/grupos.svg" alt="">
                <span class="LinkName"> Groups</span>
            </a>
            <span class="tooltip">Groups</span>
        </li>
        <li id="Off">
            <a href="#">
                <img src="assets/sidebar-images/eventos.svg" alt="">
                <span class="LinkName">Events</span>
            </a>
            <span class="tooltip">Events</span>
        </li>
       
        <li id="Off">
            <a href="#">
                <img src="assets/sidebar-images/Settings.svg" alt="">
                <span class="LinkName">Settings</span>
            </a>
            <span class="tooltip">Settings</span> 
        </li>
        <li id="Off">
       
            <a href="#" (click)="logout()">

                <img src="assets/sidebar-images/Logout.svg" alt="">
                <span class="LinkName">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
        </li>
        <div class="ProfileUser">
            <li class="profile" id="mobile" >
                <div class="ProfileDetails" (click)="ToOwnProfile()">
                    <img *ngIf="showProfilePic" src={{userPfp}} class="fotoperfil" alt="profile image">
                    <div class="ProfileContent" id="Off">
                            <div class="name">
                                <p id="username">{{Username}}</p>
                            </div>
                        <div class="designation">User</div>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>