

 

    <div class="ContainerStart">
        <div class="ContainerImagesExamples">
            <div class="PhoneImage">
                <img src="assets/Diseño_sin_título__1_-removebg-preview.png" alt="">
            </div>
            <div class="PhoneAndDesktopImage">
                <img src="assets/imagenes.png" alt="">
            </div>
        </div>

        <div class="DataStart">

           <div class="ImageLogoCultus">
            <img src="assets/logo-cultus.png" alt="">
           </div>
            <div class="TextStart">
                <h2>Viaja a través de las fronteras  </h2>
                <p>sin salir de tu hogar y sumérgete en un océano</p>
                <p> de culturas por descubrir</p>
            </div>
            <div class="OptionStart">
          
            
               
                <div class="RegisterBottom">
                    <button routerLink="/register">Crear cuenta</button>
                </div>

          <div class="LoginBottom">
                    <button routerLink="/login">Ya tengo cuenta</button>
                </div>

            </div>
        </div>





    </div>

<app-footer></app-footer>