<app-sidebar></app-sidebar>
<div *ngIf="!ProfileData"> 
    <app-loaded></app-loaded>
</div>
<div class="Profile" *ngIf="ProfileData">
    <div class="ContainerData">
        <div class="ContainerMyProfile">
            <div class="BackgroundProfile">
                <div class="ImageProfile">
                    <img src={{pfpUrl}} alt="">
                    <div class="EditProfile" *ngIf="ownProfile">
                        <img src="assets/Profile-Image/Pencil Drawing.svg" alt="" (click)="ToEditProfile()">
                    </div>
                </div>
            </div>
            <div class="DataMyProfile">
                <div class="NameMyProfile">
                    <p #HtmlNameSurname>{{ProfileData.name}} {{ProfileData.surname}}</p>
                </div>

                <div class="FollowOption" *ngIf="!ownProfile">
                    <button id="FollowButton" (click)="CheckFollowOrUnfollow(true)">{{ isFollowing }}</button>
                </div>
                <div *ngIf="!ownProfile" (click)="SendMessage()">
                    <img class="sendMessageButton" src="assets\chat.png" alt="">
                </div>
            </div>
            <div class="MyInterestProfile">
                <div class="TittleInterest">
                    <p>Interests:</p>
                </div>
                <div class="ContainerInterest" draggable="true" (dragstart)="onDragStart($event)"
                    (dragend)="onDragEnd($event)" (dragover)="onDragOver($event)" [ngClass]="{'dragging': isDragging}">
                    <p class="Interest" *ngFor="let interest of userInterests">{{ interest }}</p>
                </div>
            </div>
            <div class="PostMyProfile">
                <div class="PostTypes">
                    <div class="ImagePost">
                        <p>Posts:</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ContainerProfile">
            <div class="ContainerPost">
                <div class="ContainerImagePost" *ngFor="let post of posts">
                    <app-singlepost *ngIf="post" [userId]="userId" [post]="post" [ProfilePosts]=true
                        (PostRemoved)="OnCompleteAlert()"></app-singlepost>
                </div>
            </div>
            <div class="DataUser">
                <div class="HeaderDataUser">
                    <p>About</p>
                </div>
                <div class="Data">
                    <div class="LogoData">
                        <img src="assets/sidebar-images/home.svg" alt="">
                    </div>
                    <div class="TextData">
                        <p>{{userDataVariable.homeland}}</p>
                    </div>
                </div>
                <div class="Data">
                    <div class="LogoData">
                        <img src="assets/Profile-Image/planeta.svg" alt="">
                    </div>
                    <div class="TextData">
                        <p>{{userDataVariable.residence}}</p>
                    </div>
                </div>
                <div class="Data">
                    <div class="LogoData">
                        <img src="assets/sidebar-images/cumple.png" alt="">
                    </div>
                    <div class="TextData">
                        <p #HtmlAge> {{ProfileData.age}} Years</p>
                    </div>
                </div>
                <div class="Data">
                    <div class="LogoData">
                        <img src="assets/Profile-Image/Account (1).svg" alt="">
                    </div>
                    <div class="TextData">
                        <p> {{userDataVariable.gender}} </p>
                    </div>
                </div>
                <div class="DescriptionData">
                    <div class="TittleDescription">
                        <p>Description:</p>
                    </div>
                    <div class="Description">
                        <p> {{userDataVariable.description}} </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ContainerTextPost">
            <div *ngIf="CompleteMessage.visibility">
                <app-alert-complete [Message]="CompleteMessage.Message"></app-alert-complete>
            </div>
        </div>
    </div>
</div>