$ColorFuente:#537D57;  
$ColorSecundario:#282928;
.Participants{
    margin: 10px;
    background-color: $ColorSecundario;
    color: $ColorFuente;
    font-weight: bold;
    padding: 2px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}
.ImageParticipants{
    width: 30px;
    height: 30px;
}
.Participants p{
    margin-left: 10px;
}
.NameParticipants{
display: flex;
align-items: center;
}
.Name{

}
.Rol{
font-size: 14px;
color: rgb(109, 107, 107);
}