<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <app-header></app-header>
    <div class="ContainerHome">
        <div id="SidebarOff">
            <app-sidebar></app-sidebar>
        </div>

        <div class="PostHome">
            <app-discovery-section class="Post"></app-discovery-section>  <!--Seccion Discovery-->
           <!--<app-posts class="Post"></app-posts>-->                                 <!--Todos los Posts (Sin seccion)-->
        </div>
        
    </div>
  

</body>

</html>