
<div class="sidebar">
    <div class="logo_details">

        <img src="assets/sidebar-images/Menu.svg" class="menu" alt="">


        <img src="assets/sidebar-images/cultus.svg" class="logoCultus" alt="">
        <div class="logo_name">Cultus</div>
        <img src="assets/sidebar-images/back.svg" id="btn" class="bx bx-menu" alt="">

    </div>
    <ul class="nav-list">

        <li>
            <a href="#">
                <img src="assets/sidebar-images/home.svg" class="ImageSidebar custom-size">
                <span class="link_name">Home</span>
            </a>
            <span class="tooltip">Home</span>
        </li>
        <li>
            <a href="#">
                <img src="assets/sidebar-images/Search.svg" alt="">
                <span class="link_name">Search</span>
            </a>
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="#">
                <img src="assets/sidebar-images/SMS.svg" alt="">
                <span class="link_name">Message</span>
            </a>
            <span class="tooltip">Message</span>
        </li>
        <li>
            <a href="#">
                <img src="assets/sidebar-images/grupos.svg" alt="">
                <span class="link_name"> Groups</span>
            </a>
            <span class="tooltip">Groups</span>
        </li>
        <li>
            <a href="#">
                <img src="assets/sidebar-images/eventos.svg" alt="">
                <span class="link_name">Events</span>
            </a>
            <span class="tooltip">Events</span>
        </li>
        <li>
            <a href="#">
                <img src="assets/sidebar-images/create.svg" alt="">
                <span class="link_name">Create</span>
            </a>
            <span class="tooltip">Create</span>
        </li>



        <li>
            <a href="#">
                <img src="assets/sidebar-images/Settings.svg" alt="">
                <span class="link_name">Settings</span>
            </a>
            <span class="tooltip">Settings</span>
            <li>
                <a href="#" (click)="logout()">
                    <img src="assets/sidebar-images/Logout.svg" alt="">
                    <span class="link_name">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
            
        
        <div class="ProfileUser">
            <li class="profile">
                <div class="profile_details">
                    <img src="assets/pelado.png" class="fotoperfil" alt="profile image">
                    <div class="profile_content">
                        <div class="name">Pelado lindo</div>
                        <div class="designation">Admin</div>
                    </div>
                </div>

            </li>
        </div>

    </ul>


</div>