

<div class="ContainerBackofficeUsers">

    <div class="User">
        <div class="DataUser">

            <div class="NameAndPhoto">
                <div class="Photo">
                    <img src="assets/pelado.png" alt="">
                </div>
                <div class="Name">
                    <p>jorge</p>
                </div>

            </div>

            <div class="SuspendAccount">
                <img src="assets/imagenes-backoffice/cancelado.svg" alt="">
                <p>suspender</p>
            </div>
            <div class="DeleteAccount">
                <img src="assets/imagenes-backoffice/borrar.svg" alt="">
                <p>eliminar</p>
            </div>

        </div>

    </div>
    <div class="User">
        <div class="DataUser">

            <div class="NameAndPhoto">
                <div class="Photo">
                    <img src="assets/pelado.png" alt="">
                </div>
                <div class="Name">
                    <p>jorge</p>
                </div>

            </div>

            <div class="SuspendAccount">
                <img src="assets/imagenes-backoffice/cancelado.svg" alt="">
                <p>suspender</p>
            </div>
            <div class="DeleteAccount">
                <img src="assets/imagenes-backoffice/borrar.svg" alt="">
                <p>eliminar</p>
            </div>

        </div>

    </div>
    <div class="User">
        <div class="DataUser">
            <div class="NameAndPhoto">
                <div class="Photo">
                    <img src="assets/pelado.png" alt="">
                </div>
                <div class="Name">
                    <p>jorge</p>
                </div>

            </div>

            <div class="SuspendAccount">
                <img src="assets/imagenes-backoffice/cancelado.svg" alt="">
                <p>suspender</p>
            </div>
            <div class="DeleteAccount">
                <img src="assets/imagenes-backoffice/borrar.svg" alt="">
                <p>eliminar</p>
            </div>

        </div>

    </div>
    <div class="User">
        <div class="DataUser">
            <div class="NameAndPhoto">
                <div class="Photo">
                    <img src="assets/pelado.png" alt="">
                </div>
                <div class="Name">
                    <p>jorge</p>
                </div>

            </div>

            <div class="SuspendAccount">
                <img src="assets/imagenes-backoffice/cancelado.svg" alt="">
                <p>suspender</p>
            </div>
            <div class="DeleteAccount">
                <img src="assets/imagenes-backoffice/borrar.svg" alt="">
                <p>eliminar</p>
            </div>

        </div>

    </div>
    <div class="User">
        <div class="DataUser">

            <div class="NameAndPhoto">
                <div class="Photo">
                    <img src="assets/pelado.png" alt="">
                </div>
                <div class="Name">
                    <p>jorge</p>
                </div>

            </div>

            <div class="SuspendAccount">
                <img src="assets/imagenes-backoffice/cancelado.svg" alt="">
                <p>suspender</p>
            </div>
            <div class="DeleteAccount">
                <img src="assets/imagenes-backoffice/borrar.svg" alt="">
                <p>eliminar</p>
            </div>

        </div>

    </div>
    <div class="User">
        <div class="DataUser">

            <div class="NameAndPhoto">
                <div class="Photo">
                    <img src="assets/pelado.png" alt="">
                </div>
                <div class="Name">
                    <p>jorge</p>
                </div>

            </div>

            <div class="SuspendAccount">
                <img src="assets/imagenes-backoffice/cancelado.svg" alt="">
                <p>suspender</p>
            </div>
            <div class="DeleteAccount">
                <img src="assets/imagenes-backoffice/borrar.svg" alt="">
                <p>eliminar</p>
            </div>

        </div>

    </div>
    <div class="User">
        <div class="DataUser">
            <div class="NameAndPhoto">
                <div class="Photo">
                    <img src="assets/pelado.png" alt="">
                </div>
                <div class="Name">
                    <p>jorge</p>
                </div>

            </div>
            <div class="SuspendAccount">
                <img src="assets/imagenes-backoffice/cancelado.svg" alt="">
                <p>suspender</p>
            </div>
            <div class="DeleteAccount">
                <img src="assets/imagenes-backoffice/borrar.svg" alt="">
                <p>eliminar</p>
            </div>

        </div>

    </div>
    <div class="User">
        <div class="DataUser">


            <div class="NameAndPhoto">
                <div class="Photo">
                    <img src="assets/pelado.png" alt="">
                </div>
                <div class="Name">
                    <p>jorge</p>
                </div>

            </div>
            <div class="SuspendAccount">
                <img src="assets/imagenes-backoffice/cancelado.svg" alt="">
                <p>suspender</p>
            </div>
            <div class="DeleteAccount">
                <img src="assets/imagenes-backoffice/borrar.svg" alt="">
                <p>eliminar</p>
            </div>

        </div>

    </div>
    <div class="User">
        <div class="DataUser">


            <div class="NameAndPhoto">
                <div class="Photo">
                    <img src="assets/pelado.png" alt="">
                </div>
                <div class="Name">
                    <p>jorge</p>
                </div>

            </div>

            <div class="SuspendAccount">
                <img src="assets/imagenes-backoffice/cancelado.svg" alt="">
                <p>suspender</p>
            </div>
            <div class="DeleteAccount">
                <img src="assets/imagenes-backoffice/borrar.svg" alt="">
                <p>eliminar</p>
            </div>

        </div>

    </div>

</div>