.ContainerJoinGroup{
    margin-left: 100px;

    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 90%;
    overflow-x: auto; 
    white-space: nowrap; 
}

.ContainerJoinGroup::-webkit-scrollbar {
    width: 4px; 
}

.ContainerJoinGroup::-webkit-scrollbar-thumb {
    background-color: #181818; 
    border-radius: 6px;
}

.ContainerJoinGroup::-webkit-scrollbar-thumb:hover {
    background-color: #303030; 
}


.joinedGroups{
    width: 20%;
    margin: 30px;
}